# Dependencies
node_modules/
/.pnp
.pnp.js

# Build and Production
.next/
out/
build/
dist/

# Environment Variables
.env*.local

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System and IDEs
.DS_Store
*.pem
.vscode/
.cursor/
*.swp

# Optional: TypeScript (Eğer temiz bir repo istiyorsan kalabilir)
# next-env.d.ts