@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 24 24 27;
  --background: 250 250 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 250 250 250;
    --background: 24 24 27;
  }
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-zinc-900 text-zinc-100;
  }
}
